.character {
    position: relative;
    background-color: #1B2733;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 280px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .character:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  }
  
  .character-image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out; /* Suaviza a transição da imagem */
  }
  
  .character-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B2733;
    color: #A9A9A9;
    opacity: 0;
    padding: 20px;
    transition: opacity 0.5s ease-in-out; /* Suaviza a transição da descrição */
    transform: translateY(100%); /* Posiciona a descrição fora da área visível inicialmente */
  }
  
  .character:hover .character-image img {
    opacity: 0; /* Esconde a imagem ao passar o mouse */
  }
  
  .character:hover .character-description {
    opacity: 1; /* Mostra a descrição ao passar o mouse */
    transform: translateY(0); /* Traz a descrição para dentro da área visível */
  }
  
  .character-description p {
    margin: 0;
    font-size: 1em;
  }
  